<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Lesson8- Two-Way Data Binding</title>
		<link href="styles.css" ref="stylesheet">
		<script src="https://unpkg.com/vue"></script>
	</head>

	<body>
		<div id="vue-app">
			<h1>Two-Way Data Binding</h1>
			<label>Name:</label>
			<input type="text" v-model="name" />
			</br>
			<span>{{name}}</span>
			</br>
			<label>Age:</label>
			<input type="text" v-model="age" />
			</br>
			<span>{{age}}</span>
		</div>
		<script src="app.js"></script>
	</body>
</html>